:root {
    --default-tab-selected-color: rgb(0, 255, 255);
    --default-icon: resource('Editor/Icons/defaultTabIcon');
    --default-icon-left-offset: 10px;
    --default-icon-width: 60px;
}

.tabRoot {
    height: 60px;
    flex-direction: row;
    margin-bottom: 5px;
}

.tabButton {
    font-size: 32px;
    padding-left: 50px;
    justify-content: center;
    color: rgb(222, 222, 222);
    -unity-text-align: middle-center;
    background-color: rgb(60, 60, 60);
    border-color: rgb(30, 30, 30);
    border-width: 1px;
    transition-property: background-color;
    transition-duration: 0.2s;
    width: 100%;
    flex-direction: column;
    height: 60px;
    flex-grow: 0;
}

.tabButton > Toggle {
    height: 100%;
}

.tabButton > Toggle > VisualElement {
    height: 100%;
}

.tabButton > Toggle > VisualElement > Label {
    scale: 0.9 1;
}

.unity-toggle__checkmark {
    visibility: hidden;
    opacity: 0;
    display: none;
}

.tabIcon {
    background-image: var(--default-icon);
    -unity-background-scale-mode: stretch-to-fill;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}

.tabIconHolder {
    position: absolute;
    left: 0;
    height: 100%;
    width: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
}

.tab-selected {
    background-color: var(--default-tab-selected-color);
}
